version: "3.9"

services: 
  admin: 
    depends_on:
      - api
    build: ./client
    ports:
      - "3000:3000"
    
    env_file:
      - ./client/.env
    
    develop:
      watch: 
        - path: ./client/package.json
          action: rebuild
        - path: ./client/package-lock.json
          action: rebuild
        - path: ./client/next.config.js
          action: rebuild
        - path: ./client
          target: /app
          action: sync

  api: 
    build: ./server
    ports:
      - "8000:8000"
    
    env_file:
      - ./server/.env

    develop:
      watch:
        - path: ./server/package.json
          action: rebuild
        - path: ./server/package-lock.json
          action: rebuild
        - path: ./server
          target: /app
          action: sync